<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>oijlink.ga</title>
  <link rel="stylesheet" href="tailwind.css">
  <link rel="stylesheet" href="fonts.css">
  <link rel="stylesheet" href="index.css">
</head>
<body class="flex items-center justify-center flex-col">
  <div id="main" class="bg-white container pt-10 pb-16 pl-12 pr-12 rounded-md">
    <div class="text-3xl font-semibold p-3"><span class="text-4xl" style="color: #1E88E5;">Community<a class="btn btn-outline mr-2" href="https://oijlink.glitch.me" type="button">홈으로</a></div>
    
    <form class="flex flex-wrap">
      <div class="p-2 sm:w-1 lg:w-4/6">
  <script src="https://utteranc.es/client.js" repo="injoon5/oijlink" issue-term="url" label="💬" theme="github-light" crossorigin="anonymous" async> </script>
  

<script> src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    const options = {
    bottom: '32px', // default: '32px'
    right: '32px', // default: '32px'
    left: 'unset', // default: 'unset'
    time: '0.3s', // default: '0.3s'
    mixColor: '#fff', // default: '#fff'
    backgroundColor: '#fff',  // default: '#fff'
    buttonColorDark: '#100f2c',  // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '🌓', // default: ''
  autoMatchOsTheme: true // default: true
  }

  const darkmode = new Darkmode(options);
  darkmode.showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f5c341c4058adc6"></script>
</body>

</html>
