<!DOCTYPE html>
<html>
<head>
<link rel="manifest" href="manifest.json" />
  <link rel="apple-touch-icon" href="https://cdn.glitch.com/d3ad93d7-23bb-46ff-ac03-085df39678ba%2F%EC%A0%9C%EB%AA%A9%EC%9D%84%20%EC%9E%85%EB%A0%A5%ED%95%B4%EC%A3%BC%EC%84%B8%EC%9A%94._1%20(3).png?v=1599986898156">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="https://cdn.glitch.com/d3ad93d7-23bb-46ff-ac03-085df39678ba%2F%EC%A0%9C%EB%AA%A9%EC%9D%84%20%EC%9E%85%EB%A0%A5%ED%95%B4%EC%A3%BC%EC%84%B8%EC%9A%94._1%20(3).png?v=1599986898156" type="image/x-icon"><head>
  <body>
    <h2>
      Credits
    </h2>
    <p>
      Original: thoratica
      Redesigned: injoon5, codingcup04<br>
      /views/index.ejs (Redesigned)<br>
      /views/credits.ejs<br>
      /views/community.ejs<br>
     (/public)/robots.txt<br>
     (/public)/sitemap.xml<br>
      robots.txt<br>
      sitemap.xml :injoon5, codingcup04<br>
      <br>
      <br>
      index.ejs (Original)
      other :thoratica
    </p>
    <p>
      (Original: thoratica. Redesigned: injoon5, codingcup04)<br> Copyright. 2020. All rights reserved.
      
    </p>
  </body>
</html>
