<!DOCTYPE html>
<html>
  <body>
    <h2>
      Credits
    </h2>
    <p>
      Original: thoratica
      Redesigned: injoon5, codingcup04<br>
      /views/index.ejs (Redesigned)<br>
      /views/credits.ejs<br>
      /views/community.ejs<br>
     (/public)/robots.txt<br>
     (/public)/sitemap.xml<br>
      robots.txt<br>
      sitemap.xml :injoon5, codingcup04<br>
      <br>
      <br>
      index.ejs (Original)
      other :thoratica
    </p>
    <p>
      (Original: thoratica. Redesigned: injoon5, codingcup04)<br> Copyright. 2020. All rights reserved.
      
    </p>
  </body>
</html>
